.containerCreator {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  z-index: -1;
}

.writeContent {
  margin-top: 20vh;
  color: black;
  width: 500px;
  padding-left: 100px;
}
